<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>392260348497-pf36klo50n9lgtij6r720a2aqc4tuoi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392260348497-pf36klo50n9lgtij6r720a2aqc4tuoi0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>392260348497-6qbojjst4s120fila31flpshoqoao9o6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7n4gzBDnKbppoCDmCulA-iHGwQxvwZ5M</string>
	<key>GCM_SENDER_ID</key>
	<string>392260348497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thechaatbar</string>
	<key>PROJECT_ID</key>
	<string>chaatbar-isek</string>
	<key>STORAGE_BUCKET</key>
	<string>chaatbar-isek.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392260348497:ios:916466fcbeb4fd64a5e670</string>
</dict>
</plist>